@font-face { font-family: 'Indie Flower';       src: url('./fonts/IndieFlower-Regular.ttf');      }  
@font-face { font-family: 'Major Mono Display'; src: url('./fonts/MajorMonoDisplay-Regular.ttf'); }
@font-face { font-family: 'Genos';              src: url('./fonts/Genos-VariableFont_wght.ttf');  }

:root {
  /* Colors */
  --background:          #000000;
  --primary-color:       #32a827;
  --secondary-color:     #552424;
  --button-color:        #ffffff;
  --button-background:   #646464;
  --header-line:         #202020;
  --border:              #252525;
  --square-box-shadow:   #a37171;
  --row-column-border:   #1b191b;
  --row-column:          #9b6f6f;
  --same-number:         #446d63;
  --same-number-border:  #000000;
  --primary-incorrect:   #a50000;
  --secondary-incorrect: #630000;
  --incorrect-color:     #000000;
  
  /* Font-Sizes for width > 750px */
  --button-font-size:   2rem;
  --field-font-size:    3rem;
  --notation-font-size: 0.8rem;
  --timer-font-size:    1.6rem;
  --h1-font-size:       3rem;
  --h2-font-size:       2.4rem;
  --h3-font-size:       2rem;
  --h4-font-size:       1.3rem;
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
  :root {
    --button-font-size:   1.7rem;
    --field-font-size:    1.8rem;
    --notation-font-size: 0.6rem;
    --timer-font-size:    1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    --button-font-size:   1.3rem;
    --field-font-size:    1.5rem;
    --notation-font-size: 0.4rem;
    --timer-font-size:    0.75rem;
  }
  body {
    overflow-y: scroll;
    padding: 10px;
  }
}
@media only screen and (max-height: 400px) {
  body {
    overflow-y: scroll;
  }
}