$ct1-background:          #000008;
$ct1-primary-color:       #af4e9a;
$ct1-secondary-color:     #f7a8e6;
$ct1-button-background:   #000008;
$ct1-header-line:         #41977b;
$ct1-border:              #c534be;
$ct1-row-column:          #5c1c59;
$ct1-same-number:         #c986c5;
$ct1-same-number-color:   #d869d2;
$ct1-primary-incorrect:   #ca6a6a;
$ct1-secondary-incorrect: #830000;
$ct1-incorrect-color:     #000008;

$ct2-background:          #6e6e6e;
$ct2-primary-color:       #f8f8f8;
$ct2-secondary-color:     #3d3d3d;
$ct2-button-background:   #747171;
$ct2-header-line:         #b8b8b8;
$ct2-border:              #524251;
$ct2-row-column:          #ffffff;
$ct2-same-number:         #c5c5c5;
$ct2-same-number-color:   #d869d2;
$ct2-primary-incorrect:   #580c0c;
$ct2-secondary-incorrect: #6d3434;
$ct2-incorrect-color:     #000000;

$BACKGROUND:          $ct1-background;
$PRIMARY-COLOR:       $ct1-primary-color;
$SECONDARY-COLOR:     $ct1-secondary-color;
$BUTTON-BACKGROUND:   $ct1-button-background;
$HEADER-LINE:         $ct1-header-line;
$BORDER:              $ct1-border;    
$ROW-COLUMN:          $ct1-row-column;
$SAME-NUMBER:         $ct1-same-number;
$SAME-NUMBER-COLOR:   $ct1-same-number-color;
$PRIMARY-INCORRECT:   $ct1-primary-incorrect;
$SECONDARY-INCORRECT: $ct1-secondary-incorrect;
$INCORRECT-COLOR:     $ct1-incorrect-color;